<link href="{{ asset('css/forms.css') }}" rel="stylesheet" type="text/css" />
{% form_theme form 'form/fields.html.twig' %}

{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form_row" >
        {{ form_label(form.servername, 'Server Name') }}
  	</div>
	<div class="form_row" >
        {{ form_errors(form.servername) }}
	<div>
	<div class="form_row" >
        {{ form_widget(form.servername) }}
    </div>

    <div class="form_row">
        {{ form_label(form.serverip, 'Server IP') }}
</div>
	<div class="form_row" >
        {{ form_widget(form.serverip) }}
</div>
	<div class="form_row" >
        {{ form_errors(form.serverip) }}
    </div>
    <div class="form_row">
        {{ form_label(form.serverlocation, 'Server Location') }}
</div>
	<div class="form_row" >
        {{ form_widget(form.serverlocation) }}
</div>
	<div class="form_row" >
        {{ form_errors(form.serverlocation) }}
    </div>
    <div class="form_row">&nbsp;</div>
	<div class="form_row" >
        {{ form_widget(form.addserver) }}
    </div>

{{ form_end(form) }}
